<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h6 class="center-align" style="color: whitesmoke; margin-bottom: 5%;">LERNTYP-QUIZ</h6>
<!-- FRAGE 1 -->
<div>
    <form action="#">
        <p>
            Sie bekommen die Speisekarte im Restaurant.
            <br>
            Wie entscheiden Sie sich?
        </p>
        <p> R
            <label>
                <input class="with-gap" name="group1" type="radio"checked/>
                <span>Sie wählen Ihr Menü auf Basis der Beschreibung</span>
            </label>
        </p>
        <p> K
            <label>
                <input class="with-gap" name="group1" type="radio"/>
                <span>Sie bestellen etwas, das Sie schon einmal probiert haben.</span>
            </label>
        </p>
        <p> V
            <label>
                <input class="with-gap" name="group1" type="radio"/>
                <span>Sie schauen, was andere am Nachbartisch bestellen</span>
            </label>
        </p>
        <p> A
            <label>
                <input class="with-gap" name="group1" type="radio"/>
                <span>Sie bitten den Kellner oder Ihre Begleitung, Ihnen bei der Entscheidung zu helfen.</span>
            </label>
        </p>
    </form>
</div>
<br>
<!-- FRAGE 2 -->
<div>
    <form action="#">
        <p>
            Bevorzugen Sie eine Lehrperson, die gerne...
        </p>
        <p> R
            <label>
                <input class="with-gap" name="group1" type="radio"checked/>
                <span>Handouts und/oder ein Textbuch verwendet?</span>
            </label>
        </p>
        <p> K
            <label>
                <input class="with-gap" name="group1" type="radio"/>
                <span>Flussdiagramme, Grafiken, Filme verwendet?</span>
            </label>
        </p>
        <p> V
            <label>
                <input class="with-gap" name="group1" type="radio"/>
                <span>Feldexkursionen oder Praktika organisiert?</span>
            </label>
        </p>
        <p> A
            <label>
                <input class="with-gap" name="group1" type="radio"/>
                <span>Diskussionen durchführt und Gastreferenten einlädt?</span>
            </label>
        </p>
    </form>
</div>
<br>

<!-- FRAGE 3 -->
<div>
    <form action="#">
        <p>
            Sie kaufen eine neue Digitalkamera.
            <br>
            Was, ausser dem Preis, beeinflusst Ihre Entscheidung am meisten?
        </p>
        <p> R
            <label>
                <input class="with-gap" name="group1" type="radio"checked/>
                <span>Die Features der Kamera, über die Sie sich im Manual oder online informiert haben.</span>
            </label>
        </p>
        <p> K
            <label>
                <input class="with-gap" name="group1" type="radio"/>
                <span>Die Fachperson, die Ihnen die Features erklärt hat.</span>
            </label>
        </p>
        <p> V
            <label>
                <input class="with-gap" name="group1" type="radio"/>
                <span>Das Design der Kamera, das Sie anspricht</span>
            </label>
        </p>
        <p> A
            <label>
                <input class="with-gap" name="group1" type="radio"/>
                <span>Der Test, dem Sie die Kamera unterzogen haben.</span>
            </label>
        </p>
    </form>
</div>

<!-- SUBMIT -->
<div class="center-align">
<button class="btn waves-effect waves-light" type="submit" name="submit">Submit
    <i class="material-icons right">send</i>
</button>
</div>

</body>
</html>