<div class=white-text>
    <div class="boxinhalt">
        <h1 class="center-align"> Lerntyp - Quiz </h1>
        <p>
        <h5 class="center-align" style="margin-top: 5%;">Das Thema</h5>
        Zu den schnellsten Small-Talk-Startern gehören Gespräche über Misserfolge in der Schule.
        Jedermann wirt erleichtert sein schwächstes Fach nennen und darüber berichten, dass er
        "eine Niete in Math" war, "Französisch gehasst" oder "schlechter gezeichnet als ein Kleinkind".
        Siege sind gut für die Seele, Niederlagen sind gut für Geschichten.
        Möglicherweise besitzen Sie tatsächlich für manche Fächer kein Talent.
        Möglicherweise wurden Sie aber auch nur falsch an das Fach herangeführt.
        Wir reden hier nicht von unsensiblen Pädagogen, sondern von unterschiedlichen Lerntypen.
        </p>
        <p>
        <h5 class="center-align">Der Test</h5>
        Neil Fleming entwickelte 1987 den richtungweisenden VARK-Test, um die persönliche Lernpräferenz zu ermitteln.
        Obwohl die Validität des Tests immer wieder infrage gestellt wurde, ist er bis heute eine der populärsten Methoden zur Ermittlung des Lerntyps.
        </p>
        <p>
        <h5 class="center-align">Die Auswertung</h5>
        Man unterscheidet normalerweise zwischen vier verschiedenen Lerntypen:
        <br>
        <b><em>Visueller Typ:</em></b> Sie lernen durch Beobachtungen. Benutzen Sie Diagramme und Modelle, um Ihre Ideen zu visualisieren.
        Ersetzen Sie Schlüsselwörter durch Symbole. Benutzen Sie Farbmarker.
        <br>
        <b><em>Auditiver Typ:</em></b> Sie lernen durch Zuhören. Stellen Sie Fragen. Diskutieren Sie mit anderen die Themen, die Sie sich merken müssen,
        oder tragen Sie Ihr Thema wie ein Mini-Referat laut vor.
        <br>
        <b><em>Lese- und Schreibe-Typ:</em></b> Sie lernen durch Texte. Sie schaffen Klarheit im Denken, indem Sie schreiben.
        Erweitern Sie Ihre Notizen beim Abschreiben. Formulieren Sie wichtige Stellen neu.
        <br>
        <b><em>Kinästhetischer Typ:</em></b> Sie lernen durch Ausprobieren.
        Benutzen Sie Beispiele, um Ihre Konzepte zu erklären.
        Versuchen Sie, sich nicht an Fakten zu erinnern, sondern an Erlebnisse.
        </p>
    </div>
    <div>
        <form id="quiz" action="/api/lerntyp/post" method="post">
        </form>
    </div>

</div>