<div class="center white-text">
    <h4>Der Cooper-Test</h4>
    <hr>
    <br>
    <h5>Wie ausdauernd bin ich?</h5>
    <h6>Der Test</h6>
    <p>Laufe 12 Minuten auf einer 400-Meter-Bahn!</p>
    <h6>Die Auswertung</h6>
    <p>Faustregel: Wer über 3000 Meter schafft, hat eine hervorragende Kondition. Der Durchschnitt bei 40-jährigen
        Männern liegt bei rund 2000 Metern, die französische Fremdenlegion erwartet von Kandidaten 2800 Meter, der
        Weltrekord liegt bei 4753 Metern.</p>
    <br>
    <form action="#">
        <p>Bitte wähle dein Geschlecht:</p>
        <p>
            <label>
                <input class="with-gap" name="gender" type="radio" value="male"/>
                <span class="custom">Männlich</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="gender" type="radio" value="female"/>
                <span class="custom">Weiblich</span>
            </label>
        </p>
        <br>
        <p>Bitte wähle dein Alter:</p>
        <p>
            <label>
                <input class="with-gap" name="age" type="radio" value="13">
                <span class="custom">13–14</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="age" type="radio" value="15">
                <span class="custom">15–16</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="age" type="radio" value="17">
                <span class="custom">17–19</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="age" type="radio" value="20">
                <span class="custom">20–29</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="age" type="radio" value="30">
                <span class="custom">30–39</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="age" type="radio" value="40">
                <span class="custom">40–49</span>
            </label>
        </p>
        <p>
            <label>
                <input class="with-gap" name="age" type="radio" value="50">
                <span class="custom">50+</span>
            </label>
        </p>
        <p>Deine zurückgelegte Strecke nach 12 Minuten (in Meter):</p>
        <p class="range-field">
            <input max="3000" min="1000" type="range"/>
        </p>
        <br>
        <button class="btn waves-effect waves-light" name="action" type="submit">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>