<div id="genders">
    <label><input name="gender" class="with-gap" type="radio" value="male" checked><span>Männlich</span><br></label>
    <label><input name="gender" class="with-gap" type="radio" value="female" checked><span>Weiblich</span><br></label>
    <!-- <input type="radio" id="male" name="gender" value="male" checked>
     <label for="male">Männlich</label><br>
     <input type="radio" id="female" name="gender" value="female">
     <label for="female">weiblich</label><br>-->
</div>
<hr>
<div id="ages">
    <label><input name="age" class="with-gap" type="radio" value="age1" checked><span>20-29</span><br></label>
    <label><input name="age" class="with-gap" type="radio" value="age2"><span>30-39</span><br></label>
    <label><input name="age" class="with-gap" type="radio" value="age3"><span>40-49</span><br></label>
    <label><input name="age" class="with-gap" type="radio" value="age4"><span>50+</span><br></label>
    <!--<input type="radio" id="age1" name="age" value="age1" checked>
    <label for="male">20-29</label><br>
    <input type="radio" id="age2" name="age" value="age2">
    <label for="female">30-39</label><br>
    <input type="radio" id="age3" name="age" value="age3">
    <label for="male">40-49</label><br>
    <input type="radio" id="age4" name="age" value="age4">
    <label for="female">50+</label><br>-->
</div>
<hr>
<div id="length">
    <!---   <label id="lengthLabel1" for="length1">
       <input type="radio" id="length1" class="with-gap" name="length" value="vgood" checked>
       x Meter</label><br>
       <input type="radio" id="length2" name="length" value="good">
       <label id="lengthLabel2" for="length2">x Meter</label><br>
       <input type="radio" id="length3" name="length" value="average">
       <label id="lengthLabel3" for="length3">x Meter</label><br>
       <input type="radio" id="length4" name="length" value="bad">
       <label id="lengthLabel4" for="length4">x Meter</label><br>
       <input type="radio" id="length5" name="length" value="vbad">
       <label id="lengthLabel5" for="length5">x Meter</label><br>-->
    <label><input name="length" class="with-gap" type="radio" value="vgood" checked><span id="lengthLabel1"></span><br></label>
    <label><input name="length" class="with-gap" type="radio" value="good"><span id="lengthLabel2"></span><br></label>
    <label><input name="length" class="with-gap" type="radio" value="average"><span
            id="lengthLabel3"></span><br></label>
    <label><input name="length" class="with-gap" type="radio" value="bad"><span id="lengthLabel4"></span><br></label>
    <label><input name="length" class="with-gap" type="radio" value="vbad"><span id="lengthLabel5"></span><br></label>
</div>
<br>
<br>
<div id="submit">
    <button onclick="submit();" class="waves-effect waves-light btn">Absenden</button>
</div>






