label {
    color: #ffffff !important;
}

.cooper {
    padding-bottom: 25px;
}

.custom {
    width: 100px !important;
}

#slider {
    padding-left: 25%;
    width: 75%;
}
/*
=====================================
radioButtons
=====================================
*/
[type="radio"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + span:after {
    border: 2px solid #ffffff !important;
}