
#question {
    margin-left: 10%;
    width: 80%;
    text-align: center;
}

.answerButton {
    height: 100%;
    box-sizing: border-box;
    display: block;
    margin: 0;
    font-size: 30px;
    text-transform: none;
    width: 100%;
}
.answers div div {
    height:100%;
}

.answers div{
    height:50%;
}
.answers{
    height:50vh;
}

.answers p{
    width: -webkit-fill-available;  /*set width of p tag to width of container (Chrome, IE, Opera)*/
    width: -moz-available;  /*set width of p tag to width of container (Firefox)*/
}
