<meta charset="utf8">
<div id="question">
    <div id="questionHeader">
        <h3 id="questionTitle">Frage %%question_no%%</h3>
        <p id="questionText">%%question%%</p>
    </div>
    <div class="answers">
        <div class="row">
            <div class="col s6">
                <button class="btn answerButton" id="answer1">
                    <div class="answer" id="ans1">
                        <div>%%ans1%%</div>
                    </div>
                </button>
            </div>
            <div class="col s6">
                <button class="btn answerButton" id="answer2">
                    <div class="answer" id="ans2">
                        <div>%%ans2%%</div>
                    </div>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <button class="btn answerButton" id="answer3">
                    <div class="answer" id="ans3">
                        <div>%%ans3%%</div>
                    </div>
                </button>
            </div>
            <div class="col s6">
                <button class="btn answerButton" id="answer4">
                    <div class="answer" id="ans4">
                        <div>%%ans4%%</div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
