<div id="bekanntheitstest" class="white-text">
    <div id="introduction">
        <h1 class="center">Einleitung</h1>
        <p>
        Sie verfügen über ein ausgewogenes Allgemeinwissen und schrecken auch nicht davor zurück, Ihre Mitmenschen auf
        ihre Fehler und Irrtümer hinzuweisen? Sie glauben, alles und jeden zu kennen? Dann sollte Sie dieser Test wieder
        auf den Boden der Tatsachen zurückholen.</p>
        <h1 class="center">Der Test</h1>
        <p>
        Der Bekanntheitstest testet nicht, wie viele Prominente Sie kennen. Er testet, wie stark Sie dazu neigen, von
        Dingen zu reden, von denen Sie keine Ahnung haben. In diesem Fall: wie häufig Sie behaupten, Personen zu kennen,
        die es gar nicht gibt.</p>
    </div>
    <div id=""
</div>
