<div id="bekanntheitstest" class="white-text">

    <!--quiz name-->
    <h2 class="center">Der Bekanntheitstest</h2>

    <!--introduction-->
    <h4 class=" center">Einleitung</h4>
    <p>
        Sie verfügen über ein ausgewogenes Allgemeinwissen und schrecken auch nicht davor zurück, Ihre Mitmenschen
        auf ihre Fehler und Irrtümer hinzuweisen? Sie glauben, alles und jeden zu kennen? Dann sollte Sie dieser
        Test wieder auf den Boden der Tatsachen zurückholen.</p>

    <!--about the Test-->
    <h4 class="center">Der Test</h4>
    <p>
        Der Bekanntheitstest testet nicht, wie viele Prominente Sie kennen. Er testet, wie stark Sie dazu neigen,
        von Dingen zu reden, von denen Sie keine Ahnung haben. In diesem Fall: wie häufig Sie behaupten, Personen
        zu kennen, die es gar nicht gibt.
    </p>

    <!--tell user what to do -->
    <h4 class="center">Anleitung</h4>
    <p>
        Bewerten Sie die untenstehenden Persönlichkeiten des öffentlichen Lebens nach Ihrer Bekanntheit. Wenn Sie sich
        sicher sind, dass Sie die jeweilige Person kennen, geben Sie 2 Punkte und falls Sie sich unsicher sind,
        einen Punkt. Wenn Sie aber von der jeweiligen Person noch nie gehört haben oder zu wissen glauben, dass es diese
        nicht gibt, geben Sie 0 Punkte.
    </p>

    <table class="grey lighten-5 highlight">
        <thead>
        <tr>
            <th>Persönlichkeit</th>
            <th>Bewertung</th>
        </tr>
        </thead>
    </table>
</div>
</div>
