<h2 class="white-text center-align">Bekanntheitstest</h2>
<div id="question">
    <div id="questionHeader" class="white-text">
        <p id="questionText">%%question%%</p>
    </div>
    <div class="answers">
        <div class="row">
            <div class="col s6">
                <button class="btn answerButton" id="answer1">
                    <div class="answer valign-wrapper" id="ans1">
                        <p class="center">
                            Kenne ich sicher nicht
                        </p>
                    </div>
                </button>
            </div>
            <div class="col s6">
                <button class="btn answerButton" id="answer2">
                    <div class="answer valign-wrapper" id="ans2">
                        <p class="center">
                            Kenne ich vielleicht
                        </p>

                    </div>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <button class="btn answerButton" id="answer3">
                    <div class="answer valign-wrapper" id="ans3">
                        <p class="center">
                            Kenne ich sicher
                        </p>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
