/*===============================
general styles
===============================*/


#introduction {
    margin-top: 30px;
}

table {
    margin-bottom: 30px;
}

label span {
    padding: 0 5px 0 25px !important;
}