<div class="white-text center">
<h2 class="white-text center">Social Media Süchtig?</h2>
<p class="white-text center">Sind Sie süchtig nach Social Media? In diesem Quiz werden Ihnen acht Fragen gestellt um dies herauszufinden.</p>
    <br>
<form action="/api/socialmedia/post">

    <div id="frage1" >
        <p id="frage1frage"></p>

        <label class="white-text">
        <input type="radio" class = "with-gap" id="1radio1">
        <span id="spn1radio1"></span>
        </label>

        <label class="white-text">
        <input  type="radio"  class = "with-gap"id="1radio2">
        <span id="spn1radio2"></span>
        </label>

    </div>



    <div id="frage2" >
        <p id="frage2frage"></p>

        <label class="white-text">
            <input type="radio" class = "with-gap" id="2radio1">
            <span id="spn2radio1"></span>
        </label>

        <label class="white-text">
            <input type="radio"  class = "with-gap"id="2radio2">
            <span id="spn2radio2"></span>
        </label>
    </div>



    <div id="frage3">
        <p id="frage3frage"></p>

        <label class="white-text">
            <input type="radio" class = "with-gap" id="3radio1">
            <span id="spn3radio1"></span>
        </label>

        <label class="white-text">
            <input type="radio"  class = "with-gap"id="3radio2">
            <span id="spn3radio2"></span>
        </label>
    </div>



    <div id="frage4">
        <p id="frage4frage"></p>

        <label class="white-text">
            <input type="radio" class = "with-gap" id="4radio1">
            <span id="spn4radio1"></span>
        </label>

        <label class="white-text">
            <input type="radio"  class = "with-gap"id="4radio2">
            <span id="spn4radio2"></span>
        </label>
    </div>



    <div id="frage5">
        <p id="frage5frage"></p>

        <label class="white-text">
            <input type="radio" class = "with-gap" id="5radio1">
            <span id="spn5radio1"></span>
        </label>

        <label class="white-text">
            <input type="radio"  class = "with-gap"id="5radio2">
            <span id="spn5radio2"></span>
        </label>
    </div>



    <div id="frage6">
        <p id="frage6frage"></p>

        <label class="white-text">
            <input type="radio" class = "with-gap" id="6radio1">
            <span id="spn6radio1"></span>
        </label>

        <label class="white-text">
            <input type="radio"  class = "with-gap"id="6radio2">
            <span id="spn6radio2"></span>
        </label>
    </div>



    <div id="frage7">
        <p id="frage7frage"></p>

        <label class="white-text">
            <input type="radio" class = "with-gap" id="7radio1">
            <span id="spn7radio1"></span>
        </label>

        <label class="white-text">
            <input type="radio"  class = "with-gap"id="7radio2">
            <span id="spn7radio2"></span>
        </label>
    </div>



    <div id="frage8">
        <p id="frage8frage"></p>

        <label class="white-text">
            <input type="radio" class = "with-gap" id="8radio1">
            <span id="spn8radio1"></span>
        </label>

        <label class="white-text">
            <input type="radio"  class = "with-gap"id="8radio2">
            <span id="spn8radio2"></span>
        </label>
    </div>
    <br>
<button type="submit" class="btn">Quiz Beenden</button>

</form>
</div>