<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Socialmedia Quiz</title>
</head>
<body>
<div class="white-text center">
<h2 class="white-text center">Social Media Süchtig?</h2>
<p class="white-text center">Sind süchtig nach Social Media? In diesem Quiz werden Ihnen acht Fragen gestellt um dies herauszufinden.</p>
<form>

    <div id="frage1">
        <p id="frage1frage"></p>
        <input type="radio" class = "with-gap" id="1radio1">
        <span></span>
        <label for="1radio1" id="lbl1radio1"></label>
        <input type="radio"  class = "with-gap"id="1radio2">
        <span></span>
        <label for="1radio2" id="lbl1radio2"></label>
    </div>

    <div id="frage2">
        <p id="frage2frage"></p>
        <input type="radio" class = "with-gap" id="2radio1">
        <label for="2radio1" id="lbl2radio1"></label>
        <input type="radio"  class = "with-gap"id="2radio2">
        <label for="2radio2" id="lbl2radio2"></label>
    </div>

    <div id="frage3">
        <p id="frage3frage"></p>
        <input type="radio"class = "with-gap" id="3radio1">
        <label for="3radio1" id="lbl3radio1"></label>
        <input type="radio" id="3radio2">
        <label for="3radio2" class = "with-gap"id="lbl3radio2"></label>
    </div>

    <div id="frage4">
        <p id="frage4frage"></p>
        <input type="radio"class = "with-gap" id="4radio1">
        <label for="4radio1" id="lbl4radio1"></label>
        <input type="radio"class = "with-gap" id="4radio2">
        <label for="4radio2" id="lbl4radio2"></label>
    </div>

    <div id="frage5">
        <p id="frage5frage"></p>
        <input type="radio"class = "with-gap" id="5radio1">
        <label for="5radio1" id="lbl5radio1"></label>
        <input type="radio"class = "with-gap" id="5radio2">
        <label for="5radio2" id="lbl5radio2"></label>
    </div>

    <div id="frage6">
        <p id="frage6frage"></p>
        <input type="radio" class = "with-gap"id="6radio1">
        <label for="6radio1" id="lbl6radio1"></label>
        <input type="radio" class = "with-gap"id="6radio2">
        <label for="6radio2" id="lbl6radio2"></label>
    </div>

    <div id="frage7">
        <p id="frage7frage"></p>
        <input type="radio" class = "with-gap" id="7radio1">
        <label for="7radio1" id="lbl7radio1"></label>
        <input type="radio" class = "with-gap" id="7radio2">
        <label for="7radio2" id="lbl7radio2"></label>
    </div>

    <div id="frage8">
        <p id="frage8frage"></p>
        <input type="radio"  class = "with-gap" id="8radio1">
        <label for="8radio1" id="lbl8radio1"></label>
        <input type="radio" class = "with-gap" id="8radio2">
        <label for="8radio2" id="lbl8radio2"></label>
    </div>

</form>
</div>
</body>
</html>