<div class="row">
    <div class="col s12">
        <h1 class="center white-text">Herzlich Willkommen!</h1>
        <div class="Quiz">
            <h1>Work-Life Quiz</h1>
            <div class="radio-buttons">

                <form>
                    <h6>1. Fühlen Sie sich durch Ihre Arbeit so erschöpft, dass Sie Schwierigkeiten haben, sich emotinal
                        auf Familie und Freude einzulassen?</h6>

                    <input type="radio" id="ja1" name="Ja/Nein" value="Ja">
                    <label for="ja1"> Ja</label>
                    <input type="radio" id="no1" name="Ja/Nein" value="Nein">
                    <label for="no1"> Nein</label>
                </form>

                <form>
                    <h6>2. Beeinträchtigen private Sorgen Ihre Leistungsfähigkeit?</h6>

                    <input type="radio" id="ja2" name="Ja/Nein" value="Ja">
                    <label for="ja2"> Ja</label>
                    <input type="radio" id="no2" name="Ja/Nein" value="Nein">
                    <label for="no2"> Nein</label>
                </form>

                <form>
                    <h6>3. Haben Sie das Gefühl, dass Ihr Privatleben Sie daran hindert, Zeit in den Beruf zu
                        investieren, was für Ihre Karriere hilfreich wäre?</h6>

                    <input type="radio" id="ja3" name="Ja/Nein" value="Ja">
                    <label for="ja3"> Ja</label>
                    <input type="radio" id="no3" name="Ja/Nein" value="Nein">
                    <label for="no3"> Nein</label>
                </form>

                <form>
                    <h6>4. Falls Sie in einer Partnerschaft leben: Haben Sie das Gefühl, dass die Aufgaben im Haushalt
                        ungerecht verteilt sind?</h6>

                    <input type="radio" id="ja4" name="Ja/Nein" value="Ja">
                    <label for="ja4"> Ja</label>
                    <input type="radio" id="no4" name="Ja/Nein" value="Nein">
                    <label for="no4"> Nein</label>
                </form>

                <form>
                    <h6>5. Vermeiden Sie bei der Arbeit den persönlichen Kontakt mit Mitarbeitern, weil der Austausch
                        Sie anstrengt?</h6>

                    <input type="radio" id="ja5" name="Ja/Nein" value="Ja">
                    <label for="ja5"> Ja</label>
                    <input type="radio" id="no5" name="Ja/Nein" value="Nein">
                    <label for="no5"> Nein</label>
                </form>

                <form>
                    <h6>6. Lassen Sie durch ankommende E-Mails oder Störungen leicht ablenken - und kommen Sie schwer
                        wieder rein in die Arbeit?</h6>

                    <input type="radio" id="ja6" name="Ja/Nein" value="Ja">
                    <label for="ja6"> Ja</label>
                    <input type="radio" id="no6" name="Ja/Nein" value="Nein">
                    <label for="no6"> Nein</label>
                </form>

                <form>
                    <h6>7. Wachen Sie morgens erschöpft auf?</h6>

                    <input type="radio" id="ja7" name="Ja/Nein" value="Ja">
                    <label for="ja7"> Ja</label>
                    <input type="radio" id="no7" name="Ja/Nein" value="Nein">
                    <label for="no7"> Nein</label>
                </form>

                <form>
                    <h6>8. Müssen Sie sich überwinden, zur Arbeit zu gehen, funktioniern aber gut, wenn es im
                        Arbeitsalltag wieder zur Sache geht?</h6>

                    <input type="radio" id="ja8" name="Ja/Nein" value="Ja">
                    <label for="ja8"> Ja</label>
                    <input type="radio" id="no8" name="Ja/Nein" value="Nein">
                    <label for="no8"> Nein</label>
                </form>

                <form>
                    <h6>9. Erleben Sie das Büro als Erholung von Ihrer Familienarbeit?</h6>

                    <input type="radio" id="ja9" name="Ja/Nein" value="Ja">
                    <label for="ja9"> Ja</label>
                    <input type="radio" id="no9" name="Ja/Nein" value="Nein">
                    <label for="no9"> Nein</label>
                </form>

                <form>
                    <h6>10. Fühlen Sie sich nach der Arbeit rastlos? Lösst dieses Gefühl nach, wenn Sie online
                        sind?</h6>

                    <input type="radio" id="ja10" name="Ja/Nein" value="Ja">
                    <label for="ja10"> Ja</label>
                    <input type="radio" id="no10" name="Ja/Nein" value="Nein">
                    <label for="no10"> Nein</label>
                </form>
                <br>
                <button type="submit" class="btn">Quiz Beenden</button>

            </div>
        </div>
        <!--===================================
        ATTENTION: THE IMAGE BELOW IS JUST A
        PLACEHOLDER. NEEDS TO BE REPLACED BY
        AN INTERACTIVE CHART LATER!!!
        =======================================-->
        <img src="/templates/static/img/chartPlaceholder.png" id="chartPlaceholder"
             class="scale-up-center col offset-s3 s6"/>

    </div>
</div>
