<div class="valign-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <div class="progress">
                        <div id="progress" class="determinate" style="width: 0%"></div>
                    </div>
                </div>
                <div class="col s12 m6 offset-m3 center">
                    <h1 id="questionnr">Frage Lädt...</h1>
                </div>
                <div class="col s12 m6 offset-m3 center">
                    <p id="question">Lädt...</p>
                </div>

            </div>
            <div class="row pos">
                <div class="col s6">
                    <button class="btn-large" id="pos1" onclick="choose(this)">Lädt...</button>
                </div>
            </div>
            <div class="row pos">
                <div class="col s6">
                    <button class="btn-large" id="pos2" onclick="choose(this)">Lädt...</button>
                </div>
            </div>
            <div class="row pos">
                <div class="col s6">
                    <button class="btn-large" id="pos3" onclick="choose(this)">Lädt...</button>
                </div>
            </div>
            <div class="row pos">
                <div class="col s6">
                    <button class="btn-large" id="pos4" onclick="choose(this)">Lädt...</button>
                </div>
            </div>
        </div>
</div>
