<div class="white-text">
    <!-- The Modal -->
    <div class="modal" id="modal_error">
        <!-- Modal content -->
        <div class="modal_content">
            <span class="close">&times;</span>
            <p id="modal_message"></p>
        </div>
    </div>
    <!-- The first header "Maximierungstest" -->
    <h2 class="center-align white-text">Maximierungstest</h2>
    <!-- The text "introduction" -->
    <p class="white-text">Täglich stehen Menschen vor Entscheidungen, die Sie fällen müssen.
        Meistens sind es Kleinigkeiten, bei denen man sich entscheiden muss.
        Doch es gibt Entscheidungen, die schwerwiegender sind.
        Unabhängig von der Wichtigkeit der Entscheidung verläuft die Entscheidungsfindung fast immer gleich.
        Durch diese Entscheidungsmuster haben psychologische Forscher herausgefunden, dass es zwei Entscheidungstypen
        gibt: Maximizer und Satisficer.
        Durch den Maximierungstest kannst du nun herausfinden, ob du ein «Maximizer» oder ein «Satisficer» bist.</p>
    <!-- The second header "Der Entscheidungstyp "Maximizer"" -->
    <h2 class="center-align white-text">Der Entscheidungstyp "Maximizer"</h2>
    <!-- The text "Maximizer" -->
    <p class="white-text">«Der Maximizer will immer das Maximum aus einer Entscheidung herausholen.
        Mit einer weniger guten Entscheidung gibt sich der Maximizer nicht zufrieden.
        Durch diese Haltung an hohen Ansprüchen will der Maximizer sicher sein, die beste Wahl getroffen zu haben.
        Dazu will dieser alle Alternativen kennen. Dies kann ein Problem sein, denn je grösser die Auswahl, desto grösser
        der Aufwand, der mit der Entscheidung verbunden ist.
        Wenn zum Beispiel ein Maximizer ein T-Shirt kaufen will, so schaut er im Kleidergeschäft, was es für T-Shirts
        gibt, die seinen Kriterien entsprechen.
        Extremere Maximizer wollen lieber noch weitere Geschäfte besuchen oder schauen im Internet nach was es für
        Angebote, um das beste Preis-Leistungs-Verhältnis zu finden.
        Mit steigenden Anforderungen steigen auch die Bedenken,
        denn es gibt immer irgendwo eine bessere Alternative.
        Nachdem der Maximizer seine Entscheidung gefällt hat, kommen Zweifel hervor, ob er die richtige Entscheidung
        getroffen hat.
    <!-- The third header "Der Entscheidungstyp "Satisficer"" -->
    <h2 class="center-align white-text">Der Entscheidungstyp "Satisficer"</h2>
    <!-- The text "Satisficer" -->
    <p class="white-text">Der Satisficer ist eine Person, die dan mit einer Entscheidung zufrieden ist, wenn diese ihren Kriterien entspricht. Der Satisficer weiss ungefähr was er will, doch ist auch offen für Alternativen, die seinen Kriterien entsprechen. Bei einer grösseren Auswahl haben die Alternativen keinen Einfluss, ausser diese entsprechen der Vorstellung des Satisficer. Wenn sich ein Satisficer nun für eine Alternative entscheidet, so belässt er es bei dieser Entscheidung und gibt sich zufrieden. Das soll aber nicht heissen, dass Satisficer sich mit weniger zufriedengeben. Ihre Ansprüche können trotzdem sehr hoch sein. Wenn die Alternative, für die sich der Satisficer entschieden hat, jedoch dessen Ansprüche erfüllt, so weiss er, dass er die richtige Entscheidung getroffen hat.</p>
    <!-- the fourth header "Maximierungstest" -->
    <h2 class="center-align white-text">Maximierungstest</h2>
    <!-- The text for question 1 -->
    <p class="frage-white-text">1. Egal, wie ich im Job bin, ich halte die Augen stets offen für bessere
        Möglichkeiten.</p>
    <!-- Seven radio buttons for question 1 -->
    <div class="center radio">
        <form>
            <label>
                <input class="with-gap" name="question1" type="radio" value="1" required>
                <span class="white-text custom">1</span>
            </label>

            <label>
                <input class="with-gap" name="question1" type="radio" value="2">
                <span class="white-text custom">2</span>
            </label>

            <label>
                <input class="with-gap" name="question1" type="radio" value="3">
                <span class="white-text custom">3</span>
            </label>

            <label>
                <input class="with-gap" name="question1" type="radio" value="4">
                <span class="white-text custom">4</span>
            </label>

            <label>
                <input class="with-gap" name="question1" type="radio" value="5">
                <span class="white-text custom">5</span>
            </label>

            <label>
                <input class="with-gap" name="question1" type="radio" value="6">
                <span class="white-text custom">6</span>
            </label>

            <label>
                <input class="with-gap" name="question1" type="radio" value="7">
                <span class="white-text custom">7</span>
            </label>
        </form>
    </div>
    <!-- The text for question 2 -->
    <p class="frage-white-text"><br>2. Wenn ich im Auto Radio höre, wechsle ich oft den Sender. Ich will wissen, ob
        irgendwo etwas<br>
        Besseres läuft - auch wenn ich mit dem, was ich gerade höre, zufrieden bin.</p>
    <!-- Seven radio buttons for question 2 -->
    <div class="center radio">
        <form>
            <label>
                <input class="with-gap" name="question2" type="radio" value="1" required>
                <span class="white-text custom">1</span>
            </label>
            <label>
                <input class="with-gap" name="question2" type="radio" value="2">
                <span class="white-text custom">2</span>
            </label>
            <label>
                <input class="with-gap" name="question2" type="radio" value="3">
                <span class="white-text custom">3</span>
            </label>
            <label>
                <input class="with-gap" name="question2" type="radio" value="4">
                <span class="white-text custom">4</span>
            </label>
            <label>
                <input class="with-gap" name="question2" type="radio" value="5">
                <span class="white-text custom">5</span>
            </label>
            <label>
                <input class="with-gap" name="question2" type="radio" value="6">
                <span class="white-text custom">6</span>
            </label>
            <label>
                <input class="with-gap" name="question2" type="radio" value="7">
                <span class="white-text custom">7</span>
            </label>
        </form>
    </div>
    <!-- The text for question 3 -->
    <p class="frage-white-text"><br>3. Es fällt mir schwer, Geschenke für Freunde zu finden.</p>
    <!-- Seven radio buttons for question 3 -->
    <div class="center radio">
        <form>
            <label>
                <input class="with-gap" name="question3" type="radio" value="1" required>
                <span class="white-text custom">1</span>
            </label>
            <label>
                <input class="with-gap" name="question3" type="radio" value="2">
                <span class="white-text custom">2</span>
            </label>
            <label>
                <input class="with-gap" name="question3" type="radio" value="3">
                <span class="white-text custom">3</span>
            </label>
            <label>
                <input class="with-gap" name="question3" type="radio" value="4">
                <span class="white-text custom">4</span>
            </label>
            <label>
                <input class="with-gap" name="question3" type="radio" value="5">
                <span class="white-text custom">5</span>
            </label>
            <label>
                <input class="with-gap" name="question3" type="radio" value="6">
                <span class="white-text custom">6</span>
            </label>
            <label>
                <input class="with-gap" name="question3" type="radio" value="7">
                <span class="white-text custom">7</span>
            </label>
        </form>
    </div>
    <!-- The text for question 4 -->
    <p class="frage-white-text"><br>4. In der Videothek (oder bei Netflix, etc.) habe ich Schwierigkeiten, mich für den
        richtigen Film zu entscheiden.</p>
    <!-- Seven radio buttons for question 4 -->
    <div class="center radio">
        <form>
            <label>
                <input class="with-gap" name="question4" type="radio" value="1" required>
                <span class="white-text custom">1</span>
            </label>
            <label>
                <input class="with-gap" name="question4" type="radio" value="2">
                <span class="white-text custom">2</span>
            </label>
            <label>
                <input class="with-gap" name="question4" type="radio" value="3">
                <span class="white-text custom">3</span>
            </label>
            <label>
                <input class="with-gap" name="question4" type="radio" value="4">
                <span class="white-text custom">4</span>
            </label>
            <label>
                <input class="with-gap" name="question4" type="radio" value="5">
                <span class="white-text custom">5</span>
            </label>
            <label>
                <input class="with-gap" name="question4" type="radio" value="6">
                <span class="white-text custom">6</span>
            </label>
            <label>
                <input class="with-gap" name="question4" type="radio" value="7">
                <span class="white-text custom">7</span>
            </label>
        </form>
    </div>
    <!-- The text for question 5 -->
    <p class="frage-white-text"><br>5. Ich begnüge mich nie mit dem Zweitbesten.</p>
    <!-- Seven radio buttons for question 5 -->
    <div class="center radio">
        <form>
            <label>
                <input class="with-gap" name="question5" type="radio" value="1" required>
                <span class="white-text custom">1</span>
            </label>
            <label>
                <input class="with-gap" name="question5" type="radio" value="2">
                <span class="white-text custom">2</span>
            </label>
            <label>
                <input class="with-gap" name="question5" type="radio" value="3">
                <span class="white-text custom">3</span>
            </label>
            <label>
                <input class="with-gap" name="question5" type="radio" value="4">
                <span class="white-text custom">4</span>
            </label>
            <label>
                <input class="with-gap" name="question5" type="radio" value="5">
                <span class="white-text custom">5</span>
            </label>
            <label>
                <input class="with-gap" name="question5" type="radio" value="6">
                <span class="white-text custom">6</span>
            </label>
            <label>
                <input class="with-gap" name="question5" type="radio" value="7">
                <span class="white-text custom">7</span>
            </label>
        </form>
    </div>
    <!-- The text for question 6 -->
    <p class="frage-white-text"><br>6. Bei allem, was ich mache, habe ich die höchsten Ansprüche</p>
    <!-- Seven radio buttons for question 6 -->
    <div class="center radio">
        <form>
            <label>
                <input class="with-gap" name="question6" type="radio" value="1" required>
                <span class="white-text custom">1</span>
            </label>
            <label>
                <input class="with-gap" name="question6" type="radio" value="2">
                <span class="white-text custom">2</span>
            </label>
            <label>
                <input class="with-gap" name="question6" type="radio" value="3">
                <span class="white-text custom">3</span>
            </label>
            <label>
                <input class="with-gap" name="question6" type="radio" value="4">
                <span class="white-text custom">4</span>
            </label>
            <label>
                <input class="with-gap" name="question6" type="radio" value="5">
                <span class="white-text custom">5</span>
            </label>
            <label>
                <input class="with-gap" name="question6" type="radio" value="6">
                <span class="white-text custom">6</span>
            </label>
            <label>
                <input class="with-gap" name="question6" type="radio" value="7">
                <span class="white-text custom">7</span>
            </label>
        </form>
    </div>
    <!-- Submit button -->
    <div class="btn_submit">
        <br>
        <!-- Submit button with the function "sendQuestions()" -->
        <button class="btn waves-effect waves-light" id="button" name="action" onclick="sendQuestions()" type="submit">
            Quiz beenden
            <i class="material-icons right">send</i>
        </button>
        <br>
        <br>
    </div>
</div>