<div class=’white-text’>

<!-- The Modal -->
<div id="modal_error" class="modal">

    <!-- Modal content -->
    <div class="modal_content">
        <span class="close">&times;</span>
        <p id="modal_message"></p>
    </div>
</div>

    <!-- The first header "Maximierungstest" -->
   <h1 class="header1_maximierungstest">Maximierungstest</h1>

    <!-- The text "introduction" -->
    <p class="white-text">Täglich stehen Menschen vor Entscheidungen, die Sie fällen müssen.
       Meistens sind es Kleinigkeiten, bei denen man sich entscheiden muss.
       Doch es gibt Entscheidungen, die schwerwiegender sind.
       Unabhängig von der Wichtigkeit der Entscheidung verläuft die Entscheidungsfindung fast immer gleich.
       Durch diese Entscheidungsmuster haben psychologische Forscher herausgefunden, dass es zwei Entscheidungstypen gibt: Maximizer und Satisficer.
       Durch den Maximierungstest kannst du nun herausfinden, ob du ein «Maximizer» oder ein «Satisficer» bist.</p>

    <!-- The second header "Der Entscheidungstyp "Maximizer"" -->
    <h2 class="header2_maximierungstest">Der Entscheidungstyp "Maximizer"</h2>

    <!-- The text "Maximizer" -->
    <p class="white-text">Der Maximizer ist eine Person, die immer das Beste aus einer Entscheidung will.
        Mit einer weniger guten Entscheidung gibt sich der Maximizer nicht zufrieden.
        Durch diese Haltung an hohen Ansprüchen will der Maximizer sicher sein die beste Wahl getroffen zu haben.
        Dazu will dieser alle Alternativen kennen. Dies kann ein Problem sein, den je grösser die Auswahl, desto grösser der Aufwand, der mit der Entscheidung verbunden wird.
        Wenn zum Beispiel ein Maximizer ein T-Shirt will kaufen, so schaut er im Kleidergeschäft, was es für T-Shirts gibt, die seinen Kriterien entsprechen.
        Extremere Maximizer wollen lieber noch weitere Geschäfte besuchen oder schauen im Internet nach was es für Angebote, um das beste Preis-Leistungs-Verhältnis zu finden.
        Mit steigenden Anforderungen steigen auch die Bedenken.
        Denn es gibt ja immer irgendwo eine bessere Alternative.
        Nachdem der Maximizer seine Entscheidung gefällt hat, so kommen Zweifel hervor, ob er die richtige Entscheidung getroffen hat.
        Denn es kann ja sein, dass es eine falsche Entscheidung war.</p>

    <!-- The third header "Der Entscheidungstyp "Satisficer"" -->
    <h2 class="header2_maximierungstest">Der Eintscheidungstyp "Satisficer"</h2>

    <!-- The text "Satisficer" -->
    <p class="white-text">Der Satisficer ist eine Person, die zufrieden mit einer Entscheidung ist, wenn diese ihren Kriterien entspricht.
        Der Satisficer weiss ungefähr, was er will, doch er ist auch offen für Alternativen, die seinen Kriterien entsprechen.
        Bei einer grösseren Auswahl haben die Alternativen keinen Einfluss, ausser diese entsprechen der Vorstellung des Satisficer.
        Wenn nun ein Satisficer sich für eine Alternative entscheidet, so belässt er es bei dieser und gibt sich zufrieden.
        Das soll aber nicht heissen, dass Satisficer sich mit weniger zufriedengeben.
        Ihre Ansprüche können sehr hoch sein. Dass es «gut genug» ist, bezieht sich aus den Anforderungen.
        Wenn diese erfüllt dann ist es gut genug.
        Noch ein Beispiel.
        Ein Satisficer will ein T-Shirt kaufen, dass Weiss ist und nicht zu teuer ist.
        Er schaut sich im Kleidergeschäft um und das erste T-Shirt, dass er findet, dass nicht zu teuer kauft er.
        Nachdem Einkauf ist er zufrieden, da das T-Shirt seinen Anforderungen entsprach.
        Im Nachhinein denkt er nicht an bessere Alternativen.</p>


    <!-- the fourth header "Maximierungstest" -->
     <h1 class="header1_maximierungstest">Maximierungstest</h1>

    <!-- The text for question 1 -->
     <p class="frage-white-text">1. Egal, wie ich im Job bin, ich halte die Augen stets offen für bessere Möglichkeiten.</p>

    <!-- Seven radio buttons for question 1 -->
     <div class="radio">
         <form>
             <label>
                 <input class="with-gap" type="radio" name="question1" value="1" >
                 <span class="custom">1</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question1" value="2" >
                 <span class="custom">2</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question1" value="3" >
                 <span class="custom">3</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question1" value="4" >
                 <span class="custom">4</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question1" value="5" >
                 <span class="custom">5</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question1" value="6" >
                 <span class="custom">6</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question1" value="7" >
                 <span class="custom">7</span>
             </label>
         </form>
     </div>

    <!-- The text for question 2 -->
    <p class="frage-white-text"><br>2. Wenn ich im Auto Radio höre, wechsle ich oft den Sender.<br> Ich will wissen, ob irgendwo etwas Besseres läuft - auch wenn ich mit dem, was ich gerade höre, zufrieden bin.</p>

    <!-- Seven radio buttons for question 2 -->
    <div class="radio">
         <form>
             <label>
                 <input class="with-gap" type="radio" name="question2" value="1" >
                 <span class="custom">1</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question2" value="2" >
                 <span class="custom">2</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question2" value="3" >
                 <span class="custom">3</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question2" value="4" >
                 <span class="custom">4</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question2" value="5" >
                 <span class="custom">5</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question2" value="6" >
                 <span class="custom">6</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question2" value="7" >
                 <span class="custom">7</span>
             </label>
         </form>
     </div>

    <!-- The text for question 3 -->
    <p class="frage-white-text"><br>3. Es fällt mir schwer, Geschenke für Freunde zu finden.</p>

    <!-- Seven radio buttons for question 3 -->
    <div class="radio">
         <form>
             <label>
                 <input class="with-gap" type="radio" name="question3" value="1" >
                 <span class="custom">1</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question3" value="2" >
                 <span class="custom">2</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question3" value="3" >
                 <span class="custom">3</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question3" value="4" >
                 <span class="custom">4</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question3" value="5" >
                 <span class="custom">5</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question3" value="6" >
                 <span class="custom">6</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question3" value="7" >
                 <span class="custom">7</span>
             </label>
         </form>
     </div>

    <!-- The text for question 4 -->
    <p class="frage-white-text"><br>4. In der Videothek (oder bei Netflix etc.) habe ich Schwierigkeiten, mich für den richtigen Film zu entscheiden.</p>

    <!-- Seven radio buttons for question 4 -->
    <div class="radio">
         <form>
             <label>
                 <input class="with-gap" type="radio" name="question4" value="1" >
                 <span class="custom">1</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question4" value="2" >
                 <span class="custom">2</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question4" value="3" >
                 <span class="custom">3</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question4" value="4" >
                 <span class="custom">4</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question4" value="5" >
                 <span class="custom">5</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question4" value="6" >
                 <span class="custom">6</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question4" value="7" >
                 <span class="custom">7</span>
             </label>
         </form>
     </div>

    <!-- The text for question 5 -->
    <p class="frage-white-text"><br>5. Ich begnüge mich nie mit dem Zweitbesten.</p>

    <!-- Seven radio buttons for question 5 -->
    <div class="radio">
         <form>
             <label>
                 <input class="with-gap" type="radio" name="question5" value="1" >
                 <span class="custom">1</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question5" value="2" >
                 <span class="custom">2</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question5" value="3" >
                 <span class="custom">3</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question5" value="4" >
                 <span class="custom">4</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question5" value="5" >
                 <span class="custom">5</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question5" value="6" >
                 <span class="custom">6</span>
             </label>

             <label>
                 <input class="with-gap" type="radio" name="question5" value="7" >
                 <span class="custom">7</span>
             </label>
         </form>
     </div>

    <!-- The text for question 6 -->
    <p class="frage-white-text"><br>6. Bei allem, was ich mache, habe ich die höchsten Ansprüche</p>

    <!-- Seven radio buttons for question 6 -->
    <div class="radio">
     <form>
         <label>
             <input class="with-gap" type="radio" name="question6" value="1" >
             <span class="custom">1</span>
         </label>

         <label>
             <input class="with-gap" type="radio" name="question6" value="2" >
             <span class="custom">2</span>
         </label>

         <label>
             <input class="with-gap" type="radio" name="question6" value="3" >
             <span class="custom">3</span>
         </label>

         <label>
             <input class="with-gap" type="radio" name="question6" value="4" >
             <span class="custom">4</span>
         </label>

         <label>
             <input class="with-gap" type="radio" name="question6" value="5" >
             <span class="custom">5</span>
         </label>

         <label>
             <input class="with-gap" type="radio" name="question6" value="6" >
             <span class="custom">6</span>
         </label>

         <label>
             <input class="with-gap" type="radio" name="question6" value="7" >
             <span class="custom">7</span>
         </label>
     </form>
   </div>

    <!-- Submit button -->
    <div class="btn_submit">
        <br><br>

        <!-- Submit button with the function "sendQuestions()" -->
        <button id="button" onclick="sendQuestions()" class="btn waves-effect waves-light" name="action" type="submit">Submit
         <i class="material-icons right">send</i>
     </button>
         <br>
         <br>
     </div>
</div>