<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Maximierungstest</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <h1 class="ueberschrift_h1_maximierungstest">Maximierungstest</h1>
    <p class="white-text">Täglich stehen Menschen vor Entscheidungen, die Sie fällen müssen.
       Meisten sind es Kleinigkeiten, bei denen man sich entscheiden muss.
       Doch gibt es gibt auch Entscheidungen die schwerwiegender sind.
       Unabhängig von der Wichtigkeit der Entscheidung, verläuft die Entscheidungsfindung fast immer gleich.
       Durch diese Entscheidungsmuster haben psychologische Forscher herausgefunden, dass es zwei Entscheidungstypen: Maximizer und Satisficer.
       Durch den Maximierungstest kannst du nun herausfinden ob du ein «Maximizer» oder ein «Satisficer» bist.</p>


    <h2 class="ueberschrift_h2_maximierungstest">Der Entscheidungstyp "Maximizer"</h2>
    <p class="white-text" class="white-text center">Der Maximizer ist eine Person, die immer das Beste aus einer Entscheidung will.
        Mit einer weniger guten Entscheidung gibt sich der Maximizer nicht zufrieden.
        Durch diese Haltung an hohen Ansprüchen will der Maximizer sicher sein die beste Wahl getroffen zu haben.
        Dazu will dieser alle Alternativen kennen. Dies kann ein Problem sein, den je grösser die Auswahl, desto grösser der Aufwand, der mit der Entscheidung verbunden wird.
        Wenn zum Beispiel ein Maximizer ein T-Shirt will kaufen so schaut er im Kleidergeschäft, was es für T-Shirts gibt, die seinen Kriterien entsprechen.
        Extremere Maximizer wollen lieber noch weitere Geschäfte besuchen oder schauen im Internet nach was es für Angebote, um das beste Preis-Leistungs-Verhältnis zu finden.
        Mit steigenden Anforderungen steigen auch die Bedenken.
        Denn es gibt ja immer irgendwo eine bessere Alternative.
        Nachdem der Maximizer seine Entscheidung gefällt so kommen Zweifel, hervor ob er die richtige Entscheidung getroffen hat.
        Denn es kann ja sein, dass es eine falsche Entscheidung war.</p>


    <h2 class="ueberschrift_h2_maximierungstest">Der Eintscheidungstyp "Satisficer"</h2>
    <p class="white-text">Der Satisficer ist eine Person, die zufrieden mit einer Entscheidung ist, wenn diese ihren Kriterien entspricht.
        Der Satisficer weiss ungefähr was er will, doch er ist auch offen für Alternativen, die seinen Kriterien entsprechen.
        Bei einer grösseren Auswahl haben die Alternativen keinen Einfluss ausser diese entsprechen der Vorstellung des Satisficer.
        Wenn nun ein Satisficer sich für eine Alternative entscheidet so belässt er es bei dieser und gibt sich zufrieden.
        Das soll aber nicht heissen, dass Satisficer sich mit weniger zufriedengeben.
        Ihre Ansprüche können sehr hoch sein. Dass es «gut genug» ist, bezieht sich aus den Anforderungen.
        Wenn diese erfüllt dann ist es gut genug.
        Noch ein Beispiel.
        Ein Satisficer will ein T-Shirt kaufen, dass Weiss ist und nicht zu teuer ist.
        Er schaut sich im Kleidergeschäft um und das erste T-Shirt, dass er findet, dass nicht zu teuer kauft er.
        Nachdem Einkauf ist er zufrieden, da das T-Shirt seinen Anforderungen entsprach.
        Im Nachhinein denkt er nicht an bessere Alternativen.</p>

        <br><br>

    <div id="start_btn">
    <a href="maximierungstest.php"><button role="button">Maximierungstest starten</button> </a>
    </div>
</body>
</html>