h1.ueberschrift_h1_maximierungstest {
    text-align: center;
}

h2.ueberschrift_h2_maximierungstest {
    text-align: center;
}

p.white-text {
    text-align: center;
    text-align: justify;
    margin-left: 150px;
    margin-right: 150px;
}

div {
    text-align: center;
    margin-top: 50px;
}

/*CSS maximierungstest.php*/




