html * {
    font-family: 'Roboto', sans-serif;
}

html {
    background-image: url("../img/question-marks.jpg");
}

html, body {
    height: 100%;
}
p {
    color: #F6F8F8;
}

/*
=====================================
classes
=====================================
*/
.flex-container {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}


/*
=====================================
topnav
=====================================
*/
#topnav {
    height: 64px !important;
    line-height: 0px;
    width: 100%;
    vertical-align: middle !important;
    position: fixed;
    top: 0;
    left: 0;
}
/*burgerIconSection*/
#burgerIconSection {
    align-self: center;
    position: sticky;
    margin-left: 15px;
    z-index: 1000000;
    display: block;
}
#burger-icon {
    width: 50px;
    padding: 7px;
    cursor: pointer;
}
.change .bar1 {
    /*ensure compatibility with older versions of chrome, safari and opera*/
    -webkit-transform: rotate(45deg) translate(5px, 8px);
    /*ensure compatibility with older versions of edge and IE*/
    -ms-transform: rotate(45deg) translate(5px, 8px);
    /*ensure compatibility with older versions of firefox*/
    -moz-transform: rotate(45deg) translate(5px, 8px);
    transform: rotate(45deg) translate(5px, 8px);
}
.change .bar2 {
    opacity: 0;
}
.change .bar3 {
    /*ensure compatibility with older versions of chrome, safari and opera*/
    -webkit-transform: rotate(-45deg) translate(3px, -7px);
    /*ensure compatibility with older versions of edge and IE*/
    -ms-transform: rotate(-45deg) translate(3px, -7px);
    /*ensure compatibility with older versions of firefox*/
    -moz-transform: rotate(-45deg) translate(3px, -7px);
    transform: rotate(-45deg) translate(3px, -7px);
}
.bar1,
.bar2,
.bar3 {
    background-color: #FFFFFF;
    height: 3px;
    width: 27px;
    margin: 5px;
    transition: 0.4s;
    /*padding: 0 5px 0 5px;*/
}
/* logo*/
#logo {
    position: absolute;
    right: 20px;
    max-width: 100%;
    width: auto;
    height: 80%;
    align-self: center;
    border-color: #ffffff;
    border-style: solid;
    border-width: thin;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    top: 10%;
}
/*username styles*/
.username {
    position: absolute;
    top: 2.25em;
    right: 85px;
}
/*make it responsive*/
@media only screen and (max-width: 600px) {
    .username {
        margin-left: 25%;
    }
}
@media only screen and (min-width: 601px) and (max-width: 800px) {
    .username {
        margin-left: 40%;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1024px) {
    .username {
        margin-left: 66% !important;
    }
}
@media only screen and (min-width: 1025px) {
    .username {
        margin-left: 75%;
    }
}
.logoImage {
    padding-top: 10px;
    padding-right: 5px;
    padding-bottom: 40px;
    width:200px;
    height:auto;
}



/*
=================================
sidebar
=================================
*/
.sidebar {
    background-color: #292B2C;
    height: 100%;
    position: fixed;
    top: 64px;
    right: 0;
    width: 100%;
    color: #FFFFFF;
    transform: translateX(-100%) !important;
    transition: 400ms;
    text-align: right;
    font-size: 16px;
    z-index: 999999;

}
/*create a class that can be added to the sidebar via JavaScript*/
.sidebar_visible {
    transform: translateX(-75%) !important;
    transition: 400ms;
    overflow: auto;
}
.sidebar_content {
}
/*make it responsive*/
@media screen and (max-width: 800px) {
    .sidebar_visible {
        transform: translateX(0%) !important;

    }
}
/*style menu items*/
.menu-item {
    color: #bdbdbd;
    text-decoration: none;
    display: block;
    border-bottom: 0.05em solid #ffffff;
    padding-right:  16px;
    min-height: 50px;
    width: 100%;
}
.menu-item:first-child {
    border-bottom: 0.05em solid #ffffff;
}

/*
=================================
sidebar hover
=================================
*/
.menu-item:hover {
    color: #ffffff;
    background-color: #2b2b2b;
    border: none;
}

hvr-underline-from-left {
transform: none !important;
-webkit-transform: none !important;
}

.hvr-underline-from-left:before {
    background: #5b90d9 !important;
}

/*
=================================
animation <img> scale-up-center
=================================
*/
.scale-up-center {
    -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    border-radius: 0.5em;
}
@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}