<div class=white-text>
    <div>
        <h2 class="center-align white-text">Was ist mein Dosha?</h2>
        <h4>Das Thema</h4>
        <p>In den Veden, die zu den ältesten Schriften der Menschheit gehören, ist das Geheimwissen der Brahmanen
            überliefert,
            der höchsten Priester des Hinduismus. Unter anderem geht es dort um das Wissen vom längeren Leben: Ayurveda.
            Die 5000 Jahre alte Medizinlehre umfasst die physischen, psychischen, sozialen und spirituellen Aspekte des
            Lebens.
            Im Zentrum stehen drei Funktionsprinzipien: Vata, Pitta und Kapha, die sogenannten Doshas. Ausgangspunkt
            einer ayurvedischen
            Anamnese, die am Anfang einer Behandlung steht, ist die Frage nach der Grundkonstition.</p>
        <h4>Der Test</h4>
        <p>Die Ermittlung von Vata, Pitta und Kapha mit einem schnöden Fragebogen (siehe unten) entspricht eher einer
            westlichen
            Interpretation. Die traditionelle indische Anamnese geschieht auf Basis einer komplizierten Pulsdiagnose.
            Bei Männern
            wird der Puls an der rechten Hand gemessen, bei Frauen an der linken. Vata: Pulsschlag wie eine Schlange
            (schnell),
            Pitta: Pulsschlag wie ein Frosch oder eine Krähe (mittelschnell), Kapha: Pulsschlag wie ein Schwan
            (langsam). Um dein
            Dosha in diesem Quiz zu ermitteln, musst du bei den folgenden sieben Kategorien jeweils die Antwort
            auswählen, welche
            dich am besten beschreibt.
        </p>
        <h4>Die Auswertung</h4>
        <p>Nur wenige Menschen sind reine Typen. Meistens sind zwei Aspekte annähernd gleichstark vertreten. Was dein
            Typ genau
            zu bedeuten hat, siehst du bei der Auswertung.</p>
        <form id="quiz" action="%BASE_URL%api/ayurveda/post" method="post">
        </form>
    </div>
</div>
