<div class=’white-text’>
    <div class="input"><div class="slidecontainer">
        <p>Ich arbeite auf Ziele hin die ich mir selbst gesetzt habe:</p>
        <p>1&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp4&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5</p>
        <input type="range" min="1" max="5" value="1" class="slider range-field" id="slide">
    </div>

    <p>Ich habe konkrete Erwartungen an meine Leistungen und mich selbst:</p>
    <p>1&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp4&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5</p>
    <div class="slidecontainer">
        <input type="range" min="1" max="5" value="1" class="slider range-field" id="slide1">
    </div>

    <p>Mir ist in der Regel bewusst ob ich gerade gute Arbeit leiste:</p>
    <p>1&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp4&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5</p>
    <div class="slidecontainer">
        <input type="range" min="1" max="5" value="1" class="slider range-field" id="slide2">
    </div>

    <p>In schwierigen Situationen hinterfrage ich meine Absichten:</p>
    <p>1&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp4&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5</p>
    <div class="slidecontainer">
        <input type="range" min="1" max="5" value="1" class="slider range-field" id="slide3">
    </div>

    <p>Vor einer Aufgabe stelle ich mir vor wie ich sie erfolgreich bewältige:</p>
    <p>1&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp4&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5</p>
    <div class="slidecontainer">
        <input type="range" min="1" max="5" value="1" class="slider range-field" id="slide4">
    </div>

        <p>Ich führe Selbstgespräche (Im Kopf oder laut) um schwierige Situationen zu durchdenken:</p>
        <p>
            1&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp4&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5</p>
        <div class="slidecontainer">
            <input type="range" min="1" max="5" value="1" class="slider range-field" id="slide5">
        </div>

        <p>Ich stelle mir vor wie ich wichtige Aufgaben erfolgreich bewältige, bevor ich Sie ihn Angriff nehme:</p>
        <p>
            1&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp4&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5</p>
        <div class="slidecontainer">
            <input type="range" min="1" max="5" value="1" class="slider range-field" id="slide6">
        </div>

        <p>Wenn ich auf Wiederstand stosse, stelle ich mir frage ich mich ob meine Überzeugungen angemessen sind:</p>
        <p>
            1&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp4&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5</p>
        <div class="slidecontainer">
            <input type="range" min="1" max="5" value="1" class="slider range-field" id="slide7">
        </div>

        <p>Wenn ich eine Aufgabe erfolgreich abgeschlossen habe belohne ich mich oft mit etwas, dass mir Spass
            macht:</p>
        <p>
            1&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp2&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp3&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp4&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp5</p>
        <div class="slidecontainer">
            <input type="range" min="1" max="5" value="1" class="slider range-field" id="slide8">
        </div>
        <br>
        <div class="wrapper">
            <button id="button" class="btn waves-effect waves-light btn" type="submit">Auswerten</button>
        </div>
    </div>
