.slidecontainer {
  width: 100%; /* Width of the outside container */
  text-align: center;
}

/* The slider itself */
.slider {
  margin-top: 20px !important;
  width: 130px !important; /* Full-width */
  border: none !important;
  height: 25px; /* Specified height */
}

p { /*minor text changes*/
  text-align: center;
  font-size: 14px;
  Margin: 14px 0px 14px 0px;
}

.wrapper {
  text-align: center;
}

button { /*button placement*/
  position: absolute;
  width: auto;
}
/*Global Design*/
label {
  color: #ffffff !important;
}