

<!--- <div class="valign-wrapper" style="height: 75%;">-->
<div class="row" style="width: 100%;">
    <div class="col l6 s12 m8 xl4 offset-l3 offset-m2 offset-xl4">
        <div class="card grey lighten-5 custom-card-corners">
            <div class="card-content black-text left-align">
                <span>Frage <span id="questionCount"></span></span>
                <span class="card-title">Ich empfinde mich als <span id="question">extravertiert, offen</span></span>
            </div>
            <div class="card-action hoverable z-depth-2 custom-card-corners">
                <form action="#">
                    <p class="range-field">
                        <span>test</span> <input type="range" id="test5" min="1" max="7" />
                    </p>
                    <div class="right-align">
                        <button onclick="requestQuestion();" class="btn waves-effect waves-light" type="submit" name="action">Weiter</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
<div class="row" style="width: 100%;">
    <div class="col l6 s12 m8 xl4 offset-l3 offset-m2 offset-xl4">
        <div class="card grey lighten-5 custom-card-corners">
            <div class="card-content black-text left-align">
                <span>Begriffserklärung</span>
                <span class="card-title">Was bedeutet <b></b></span>
            </div>
            <div class="card-content hoverable z-depth-1 custom-card-corners">
                <p class="flow-text left-align">
                    Der Begriff stammt aus dem lateinischen und........Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
            </div>
        </div>
    </div>
</div>

