<!--- <div class="valign-wrapper" style="height: 75%;">-->
</div>
<h2 class="center-align white-text">Der Big Five Test</h2>

<div class="valign-wrapper valign-custom">
<div class="row full-width">
    <div class="col l6 s12 m8 xl4 offset-l3 offset-m2 offset-xl4 fix-z-index">
        <div class="card grey lighten-5 custom-card-corners">
            <div class="card-content black-text left-align">
                <span>Frage <span id="questionCount"></span></span>
                <span class="card-title"><span id="question"></span></span>
            </div>
            <div class="card-action hoverable z-depth-2 custom-card-corners">
                <div action="#">
                    <div class="col s12">
                    <p class="range-field">
                        <label class="left-align col s6 label-fix">gar nicht</label>
                        <label class="right-align col s6 label-fix">absolut</label>
                        <input type="range" id="slider" min="1" max="7" />
                    </p>
                </div>
                    <div class="right-align">
                        <button onclick="saveAnswer();" class="btn waves-effect waves-light" type="button" id="submitBtn" name="action">Weiter</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<div> <!-- DO NOT DELETE THIS AT ANY COST -->