<div class=white-text>


<h4> Welcher Berg liegt nicht in der Schweiz</h4>

    <label><input class="with-gap" name="group1" type="radio"/> <span> Matterhorn</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span> Mont Blanc</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>  Eiger</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span> Rigi </span> </label> <br>

<br>
<br>
<h4> Wie heisst der Schweizer Nationalheld </h4>

    <label><input class="with-gap" name="group1" type="radio"/> <span> Willhelm Tell</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span> Roger Federer</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>  Henri Guisan</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>Arnold von Winkelried</span> </label> <br>
<br>
<br>
<h4> Wer hat den Roman Heidi geschrieben?</h4>

    <label><input class="with-gap" name="group1" type="radio"/> <span> Jeremias Gotthelf</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span> Johanna Spyri</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span> Astrid Lindgren</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>Selma Lagerlöf</span> </label> <br>
<br>
<br>
<h4> Welche ist die grösste Glaubensgruppe der Schweiz</h4>
    <label><input class="with-gap" name="group1" type="radio"/> <span> Römisch-katholisch</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span> Reformiert</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span> Alle anderen zusammen</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>Die Kofessionslosen</span> </label> <br>

<br>
<br>
<h4> Wann trat die Schweiz der UNO bei?</h4>
    <label><input class="with-gap" name="group1" type="radio"/> <span> Die Schweiz ist nicht Mitglied der UNO</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span> Als Gründungsland</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span> Als erstes Land, dessen Volk über den Beitritt abstimmte</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>Als letztes Land</span> </label> <br>

<br>
<br>
<h4> Welche Staatsform hat die Schweizer Eidgenossenschaft?</h4>
    <label><input class="with-gap" name="group1" type="radio"/> <span> Präsidiale Demokratie</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span> Willensnation</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>Parlamentarische Demokratie</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>Föderale Republik</span> </label> <br>

<br>
<br>
<h4> Wie viele Kantone hat die Schweiz (inkl. Halbkantone)?
    <label><input class="with-gap" name="group1" type="radio"/> <span>24</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>26</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>27</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>28</span> </label> <br>

<br>
<br>
<h4> Seit wann exisitiert die Schweiz als Bundesstaat?</h4>
    <label><input class="with-gap" name="group1" type="radio"/> <span>1291</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>1848</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>1919</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>1971</span> </label> <br>
<br>
<br>
<h4> Seit wann dürfen Schweizerinnen wählen und abstimmen?</h4>
    <label><input class="with-gap" name="group1" type="radio"/> <span>1291</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>1848</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>1919</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>1971</span> </label> <br>

<br>
<br>
<h4> Wie viele Unterschriften von Schweizer Bürgern braucht man, um eine nationale Abstimmung zu einem Thema zu erwirken (Volksinitiative)</h4>
    <label><input class="with-gap" name="group1" type="radio"/> <span>100 000</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>500 000</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>1 Million</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>Anzahl der Einwohner im Wohnkanton</span> </label> <br>
<br>
<br>
<h4> Wie viele bezahlte Urlaubswochen sind in der Schweiz garantiert</h4>
    <label><input class="with-gap" name="group1" type="radio"/> <span>4 Wochen</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>5 Wochen</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>6 Wochen</span> </label> <br>
    <label><input class="with-gap" name="group1" type="radio"/> <span>Gibt keine Regelung</span> </label> <br>

<br>
<br>
    <br>
    <br>
    <div class="center-align">
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </div>
</div>