label {
    color: #ffffff !important;
}

.einb {
    padding-bottom: 25px;
}

.custom {
    width: 100px !important;
}

/*
=====================================
radioButtons
=====================================
*/
[type="radio"]:not(:checked) + span:before,
[type="radio"]:not(:checked) + span:after {
    border: 2px solid #ffffff !important;

}
span {
    z-index: -100;
}