<div class="white-text">
<h1>Impressum</h1>
Noser Young<br>
Worblaufenstrasse 200<br>
3048 Worblaufen<br>
<h2>Projektleiter</h2>
Ruben Kober<br />
ruben.kober@noseryoung.ch<br><br>
<h2>Kontaktinformation</h2>
Telephone: 031 917 53 80<br>
E-Mail: <a href="mailto:worblaufen@noseryoung.ch">worblaufen@noseryoung.ch</a><br>
Internet address: <a href="//noseryoung.ch" target="_blank">noseryoung.ch</a><br><br>
<h2>Quelle</h2>
Mikael Krogerus / Roman Tschäppeler, Verlag Klein & Aber, 2014 ISBN 978-3-0369-5707-4<br>
</div>
