
    <!--Login Form-->
    <div id="loginForm" class="section row">
        <form action="/api/login" method="POST" class="col offset-l3 l6 offset-s1 s10 offset-m2 m8  grey darken-2">
            <!--Username-->
            <div class="row">
                <div class="input-field col s12">
                    <input name="username" id="loginUsername" type="text">
                    <label for="loginUsername">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="password" id="loginPassword" type="password">
                    <label for="loginPassword">Passwort</label>
                </div>
            </div>

            <!-- Log-In Button-->
            <div class="center-align">
                <button id="loginButton" class="col offset-s4 s4 waves-effect waves-light btn modal-trigger ">Log In</button>
            </div>
            <br>
            <br>
            <br>

            <!-- "Noch keinen Account" -->
            <div class="center-align">
                <div class="container center">
                    <p class="white-text">Noch keinen Account?</p>
                </div>

                <!--Register Button-->
                <!-- Modal Button. Used for showing registration form-->
                <a id="registerButton" class="col offset-s4 s4 waves-effect waves-light btn modal-trigger " href="#registrationForm">Registrieren</a>
            </div>
            <br>

            <!--GameID Button-->
            <div class="center-align">
                <!-- Modal Button. Used for showing GameID-Dialog -->
                <a id="gameIDButton" class="col offset-s4 s4 waves-effect waves-light btn modal-trigger " href="#gameidForm">GameID</a>
            </div>

        </form>
    </div>
</div>
<!-- Modal Body aka registration form -->
<div id="registrationForm" class="modal">
    <div class="modal-content">
        <h4 class="center-align">Registrieren</h4>
        <div class="col s6">
            <form action="/api/register" method="POST">
                <div class="row">
                    <div class="input-field col m6 s12">
                        <input name="first_name" id="firstname" type="text" class="validate">
                        <label for="firstname">Vorname</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <input name="last_name" id="lastname" type="text" class="validate">
                        <label for="lastname">Nachname</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="username" id="username" type="text" class="validate">
                        <label for="username">Benutzername</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <input name="password" id="registerPassword" type="password" data-length="8">
                        <label for="registerPassword">Passwort</label>
                    </div>
                    <div class="input-field col m6 s12">
                        <input id="confirmPassword" type="password" class="validate">
                        <label for="confirmPassword">Passwort wiederholen</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">E-Mail</label>
                    </div>

                    <!--Select Gender-->
                    <div id="genderSelection" class="input-field col s12">
                        <p>
                            Geschlecht
                        </p>
                        <p>
                            <label>
                                <input class="with-gap" name="male" type="radio"/>
                                <span>Männlich</span>
                            </label>
                            <label>
                                <input class="with-gap" name="female" type="radio"/>
                                <span>Weiblich</span>
                            </label>
                            <label>
                                <input class="with-gap" name="other" type="radio"/>
                                <span>Andere</span>
                            </label>
                        </p>
                        <div class="input-field col s12">
                            <button type="submit" class="waves-effect waves-light btn">Registrieren</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Abbrechen</a>
    </div>
</div>


<!-- Modal Body aka GameID form -->
<div id="gameidForm" class="modal">
    <div class="modal-content">
        <h4 class="center-align">GameID</h4>
        <div class="col s6">
            <form class="center-align">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="gameid" type="text" class="validate">
                        <label for="gameid">GameID</label>
                    </div>
                    <div class="input-field col s12">
                        <button type="submit" class="waves-effect waves-light btn">Quiz beitreten</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--TODO: change Link -->
    <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Abbrechen</a>
    </div>
</div>
